.best {
  display: flex;
  background: url("../image/best.jpg") center center / cover no-repeat;
}

.best__container {
  padding: rem(110px) rem(91px) 0 rem(91px);
  
  @include tablets {
    padding: 0;
    padding-top: 230px;
    width: 95%;
  }
  @include phones {
    padding-top: 86px;
  }
}

.best__title {
  color: #2f3234;
  @include gagalin;
  font-size: rem(72px);
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding-bottom: rem(30px);
}

.best__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }
}

.best__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 31.1%;

  @include phones {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
  }
}

.best__icon {
  display: flex;
  justify-content: center;
  padding-bottom: rem(30px);

  @include phones {
    margin-left: auto;
    margin-right: auto;
  }
}

.best__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include phones {
    width: 70%;
  }
}

.best__content__title{
  text-align: center;
  color: #2f3234;
  @include lifehack;
  font-size: rem(24px);
  font-weight: 500;
  letter-spacing: -0.6px;
  padding-bottom: rem(16px);

  @include phones {
    text-align: left;
  }
}

.best__content__text {
  text-align: center;
  opacity: 0.8;
  color: #2f3234;
  @include ubuntu;
  font-size: rem(14px);
  font-weight: 300;

  @include phones {
    text-align: left;
  }
}