.footer {
  min-height: 60px;
  background: url("../image/footer.jpg") center center / cover no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__container {
  max-width: 1100px;
  display: flex;
  align-items: center;
  min-height: 60px;
  width: 95%;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
    text-align: center;
    padding-top: 14px;
  }
}

.footer__info {
  @include phones {
    padding-bottom: 14px;
  }
}

.footer__list {
  display: flex;
  align-items: center;
  @include phones {
    padding-bottom: 18px;
  }
}

.footer__item {
  margin-right: 20px;
  align-items: center;
  &:last-child {
    margin-right: 0;
  }
}

.footer__img {
  display: flex;
  align-items: center;
  opacity: .3;
  &:hover {
    opacity: 1;
  }
}

.footer__street {
  @include ubuntu;
  color: #ffffff;
  font-size: rem(14px);
  font-weight: 300;
  padding-bottom: 4px;
}

.footer__nomber {
  color: #e45028;
  @include ubuntu;
  font-weight: 700;
  font-size: rem(14px);
  &:hover {
   text-decoration: underline; 
  }
}

.footer__nomber__img {
  margin-right: 6px;
}