.forms {
  background: url("../../img/bg-forms.jpg") center center / cover no-repeat;
}

.forms__container {
  padding: rem(112px) rem(85px) 0 rem(82px);
}

.forms__title {
  text-align: center;
  color: #f9b43b;
  @include gagalin;
  font-size: rem(72px);
  font-weight: 400;
  padding-bottom: rem(25px);

}

.forms__all {
  display: flex;
  width: 100%;
}

.forms__left {
  flex-basis: 50%;
  padding-right: rem(10px);
}

.forms__row {
  display: flex;
}

.forms__left__label{
  width: 100%;
  margin-right: rem(20px);
  margin-bottom: rem(15px);
  &:last-child {
    margin-right: 0;
  }
}

.forms__left__name {
  color: #ffffff;
  @include ubuntu;
  font-size: rem(14px);
  font-weight: 300;
  padding-bottom: rem(5px);
}

.forms__left__input {
  width: 100%;
  border: none;
  border-radius: rem(5px);
  padding: rem(9px) 0 rem(9px) rem(20px);
}

.forms__right {
  flex-basis: 50%;
  padding-left: rem(10px);
}

.forms__right__name {
  color: #ffffff;
  @include ubuntu;
  font-size: rem(14px);
  font-weight: 300;
  padding-bottom: rem(5px);
}

.forms__right__textarea {
  width: 100%;
  border-radius: rem(5px);
  height: rem(113px);
  border: none;
  margin-bottom: rem(9px);
}

.forms__right__label {
  color: #ffffff;
  @include ubuntu;
  font-size: rem(14px);
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: rem(25px);
  margin-bottom: rem(20px);
  &:last-child {
    margin-right: 0;
  }
}

.forms__radio__click {
  width: rem(15px);
  height: rem(15px);
  background-color: white;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: rem(10px);
}

.forms__radio__click--active {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: rem(7px);
  height: rem(7px);
  background: #e35028;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.forms__right__radio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  &:checked + .forms__radio__click .forms__radio__click--active {
    opacity: 1;
  }
}

.forms__checkbox__click {
  width: rem(15px);
  height: rem(15px);
  background-color: white;
  border: 0;
  position: relative;
  margin-right: rem(10px);
}

.forms__checkbox__click--active {
  background: url("../../img/checkbox.png") center center no-repeat;
  width: rem(11px);
  height: rem(9px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.forms__right__checkbox {
  position: absolute;
  opacity: 0;
  &:checked + .forms__checkbox__click .forms__checkbox__click--active {
    opacity: 1;
  }
}

.forms__order {
  color: #ffffff;
  @include ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  padding: rem(7px) rem(15px);
  background-color: #e45028;
  border-radius: rem(5px);
  margin-right: rem(5px);
}

.forms__clear {
  color: #fff;
  @include ubuntu;
  font-size: rem(14px);
  font-weight: 300;
  padding: rem(7px) rem(15px);
  border-radius: rem(5px);
}