.team {
  background: url("../../img/bg-team.jpg") center center / cover no-repeat;
}

.team__container {
  height: 100%;
  width: 50%;
  margin-left: auto;
  background-color: rgba(0, 0, 0, ) #2f3234;
  opacity: 0.93;
  padding: 113px 102px 0 102px;
}

.team__title {
  color: #f9b43b;
  @include gagalin;
  font-size: 72px;
  font-weight: 400;
}

.team__name {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  @include gagalin;
}

.team__content {
  display: flex;
}

.team__text__title {
  color: #ffffff;
  @include ubuntu;
  font-size: 14px;
  font-weight: 700;
}

.team__text__desc {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  @include ubuntu;
}
