.top {
  background: url('../image/top.jpg') center center / cover no-repeat;
}

.top__container {
  padding-top: 13px;
  @include phones {
    display: flex;
    align-items: center;
  }
}

.header {
  height: 69px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header__logo {
  height: 100%;
}

.header__logo__img {
  height: 100%;
}

.header__nav {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }
}

.header__nav__list {
  display: flex;
}

.header__nav__item {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin: 0 16px;
  }
  &:last-child:after {
    display: none;
  }
}

.header__nav__link {
  color: #ffffff;
  @include ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.header__button {
  color: #ffffff;
  @include ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 15px;
  background-color: #e45028;
  border-radius: 5px;
  display: block;

  @include tablets {
    margin-left: auto;
    margin-right: 30px;
  }

  @include phones {
    margin-left: auto;
    margin-right: 30px;
  }
}

.header__hamburger {
  display: none;
  @include tablets {
    display: flex;
    flex-direction: column;
  }
  @include phones {
    display: flex;
    flex-direction: column;
  }
}

.header__hamburger__nav {
  width: 24px;
  height: 4px;
  border-radius: 4px;
  background: white;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}

.top__content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  @include tablets {
    flex-direction: column;
    justify-content: center;
  }

  @include phones {
    flex-direction: column;
    justify-content: center;
  }
}

.top__pic {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  @include tablets {
    width: 56%;
    justify-content: center;
  }

  @include phones {
    width: 80%;
    justify-content: center;
  }
}

.top__pic__img {
  height: 100%;
  width: 100%;
  max-width: 451px;
  max-height: 424px;
}

.top__title {
  color: #f9b43b;
  @include gagalin;
  font-size: rem(72px);
  font-weight: 400;
  width: 100%;
  white-space: nowrap;

  @include tablets {
    text-align: center;
  }

  @include phones {
    text-align: center;
  }
}

.top__text {
  width: 50%;
  padding-left: 10px;
  padding-top: 70px;
  @include tablets {
    padding-left: 0;
    padding-top: 10px;
    width: 100%;
  }
  @include phones {
    padding-left: 0;
    padding-top: 10px;
    width: 100%;
  }
}

.top__desc {
  width: 100%;
  font-size: rem(65px);
  color: #ffffff;
  @include lifehack;
  font-weight: 500;
  letter-spacing: -1.63px;
  line-height: 60px;
  padding-top: 10px;

  @include tablets {
    padding-top: 0;
    text-align: center;
  }
  
  @include phones {
    padding-top: 0;
    text-align: center;
  }
}

.top__scroll {
  position: absolute;
  bottom: 41px;
  left: 48.65%;
}



