
@mixin gagalin () {
  font-family: "Gagalin", Arial, Helvetica, sans-serif;
}

@mixin ubuntu () {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

@mixin lifehack () {
  font-family: "Lifehack", Arial, Helvetica, sans-serif;
}